form {
    width: 100%;
    max-width: 700px;
}

form input {
    transition: .3s ease-in-out;
}

form input:hover {
    transform: scale(1.02);
}

.input-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-bottom: 15px;
}

.input-box input {
    transition: .3s ease-in-out;
}

.input-box input:hover {
    transform: scale(1.05);
}

input,
textarea {
    width: 100%;
    padding: 15px;
    background: #252525;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    color: #fff;
    outline: none;
    transition: var(--transition);
}

textarea:hover {
    transform: scale(1.02);
}

input:focus,
textarea:focus {
    border-color: var(--primary-color);
    background: #2a2a2a;
}

.submit-btn {
    background: var(--primary-color);
    color: #000;
    font-weight: 700;
    cursor: pointer;
    border: none;
    font-size: 1.1rem;
    margin-top: 10px;
}

.submit-btn:hover {
    background: #00e699;
    transform: translateY(-3px);
    box-shadow: 0 0 5px #0ef;
}