.projects-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    width: 100%;
    max-width: 1100px;
}

.project-card {
    text-align: center;
    border-radius: 20px;
    color: #0ef;
    text-decoration: none;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.project-card:hover {
    transform: scale(1.03);
    border-color: var(--primary-color);
}

.project-card img {
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 0 10px #000;
}

.project-card .info {
    text-transform: capitalize;
    margin: 5px;
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
}