@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    nav {
        position: absolute;
        top: 80px;
        left: -100%;
        width: 100%;
        flex-direction: column;
        background: var(--bg-dark);
        padding: 30px;
        transition: 0.4s;
        text-align: center;
        border-bottom: 1px solid var(--primary-color);
    }

    nav.active {
        left: 0;
    }

    .home-container {
        flex-direction: column-reverse;
        text-align: center;
    }

    .input-box {
        grid-template-columns: 1fr;
    }

    .introduction-home span {
        font-size: 2.5rem;
    }
}